<p>Following:</p>
<ul>
  <div class="row">

    <% current_user.following_details.each do |follower| %>
      <div class="col s6">
        <div class="card-panel followers">
          <li><%= image_tag follower.avatar_url, class: "user-avatar" %></li>
          <li><%= link_to follower.login, follower.html_url, class: "user-link" %></li>
          <li><%= link_to follower.name, follower.html_url, class: "user-link" %></li>
          <li><%= follower.bio %></li>
          <li><%= follower.location %></li>
          <li><%= follower.company %></li>
        </div>
      </div>
    <% end %>
  </div>
</ul>
<hr>
</br>
